body {
  font-family: 'Rajdhani', sans-serif;
}

.display-screen {
  height: 80px;
  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 24px;
}

.display-text {
  float: right;
}

.button-container {
  overflow-y: auto;
}

button {
  display: inline-block;
  border: 2px solid #0099cc;
  border-radius: 24px;
  width: 80px;
  height: 80px;
  float: left;
  background: transparent;
  margin: 5px;
}

button:hover {
  background-color: #008cba;
  color: white;
}

button:focus {
  outline-style: none;
}

.calc-container {
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
